# ============================
# Secrets
# ============================

.env
.env.*


# ============================
# Python
# ============================

__pycache__/
*.pyc
*.pyo
*.pyd


# ============================
# Virtual environments
# ============================

venv/
.venv/


# ============================
# IDE files
# ============================

.vscode/
.idea/